@use './../../../ui.sass'

.category
    text-transform: capitalize
    cursor: pointer
    border-radius: 2px
    padding: 0
    margin-bottom: 10px
    transition: all 0.15s linear
    color: ui.$blue
    font-weight: bold
    display: block
    font-size: 48px
    &:hover, &.active
        color: ui.$hover-blue
    &.active
        cursor: default
    &__previous-jokes
        color: gray
        &:hover, &.active
            color: lightgray